<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/styles.css">
 <link rel="icon" href="/img/icons8-internet-30.png" type="image/x-icon">
	<title>About</title>
</head>
<body>

	<div class="main-content">
		{{>header}}
		<img class="potrait" src="./img/kisspng-beauty-parlour-artificial-hair-integrations-hairst-hair-style-5b0c25f8709d25.9183321415275228084613.png" alt="">
	</div>

	{{>footer}}
</body>
</html>